@font-face {
  font-family: rush-turbo;
  src: url(../fonts/Rush\ Turbo.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --bg-color: #181d27;
  --bg-color2: #191f29;
  --bg-color3: #1f2738;
  --bg-color4: #6a7285;
  --bg-color6:#181d2786;
  --bg-color5: #f74464;
  --tx-color: #f74464;
  --tx-color2: #6a7285;
  --tx-color3: #f3f3f3;
}

body {
  background-color: var(--bg-color);
  font-family: "Source Code Pro", monospace;
}

.no-mobile {
  display: none;
}

.only-mobile {
  display: inherit;
}

a {
  text-decoration: none;
  color: none;
}

.gradient-text {
  background-image: linear-gradient(to left, var(--tx-color), var(--tx-color2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  background-color: var(--bg-color);
  height: 7vh;
  width: 100vw;
  position: fixed;
  top: 0vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header i {
  color: var(--tx-color2);
  font-size: 2rem;
  margin-right: 1rem;
}

header .logo {
  color: var(--tx-color);
  margin-left: 1rem;
  font-family: rush-turbo;
}

header .logo span {
  color: var(--tx-color2);
}

#S-home {
  margin-top: 7vh;
  height: 93vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-image: url("../img/bg-perfil.png");
  background-size: cover;
}

.saludo {
  color: var(--tx-color3);
  padding-right: 3rem;
  font-size: 1rem;
}

.nombre {
  padding-right: 3rem;
  font-size: 2rem;
  color: var(--tx-color);
  font-family: rush-turbo;
}

.titulo {
  color: var(--tx-color2);
  padding-right: 3rem;
}

#S-About-me {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-color3);
  color: var(--tx-color3);
  display: grid;
  grid-template-areas:
  'titulo'
  'resena'
  'datos'
  'hobbies';
  justify-items: center;
  row-gap: 2rem;
}
.card-t-section{
  width: 80vw;
}

.titulo-section {
  grid-area: titulo;
  margin-top: 5vh;
  width: 4rem;
  border-bottom: solid 3px var(--tx-color);
}
.titulo-section p {
  width: max-content;
  font-size: 2rem;
}
.resena {
  grid-area: resena;
  width: 90vw;
}
.resena p{
  text-align: justify;
  padding-inline: 1rem;
  width: 100%;
}
.img-perfil {
  width: 5rem;
  height:5rem;
  border: solid 5px var(--tx-color2);
  border-radius: 50%;
  background-image: url("../img/bg-perfil\ prueba.jpg");
  background-size: contain;
}
.datos-personales{
  grid-area: datos;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-datos{
  font-size: 1.5rem;
  color:var(--tx-color)
}
.item-dato{
  display: flex;
  width: 350px;
  justify-content: space-between;

}
.item-dato span{
  color: var(--tx-color);
}
.card-hobbies{
  grid-area: hobbies;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
}
.hobbies{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}
.item-hobbie{
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#S-Skills{
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--tx-color3);
  display: grid;
  grid-template-areas: 'education' 
  'skills';
  justify-items: center
}
.educaction-Container {
  grid-area: education;
  width: 90vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-educaction {
  margin-left: 1rem;
  width:100%;
  background-color: transparent;
  text-align: justify;
  }
  .card-title {
  font-size: 1rem;
  color: var(--tx-color3);
}

.card-subtitle {
  color: var(--tx-color);
}
.skills-container {
  grid-area: skills;
  width: 90vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.S-titulo {
  font-size: 1rem;
  color: var(--tx-color3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill-item{
  width: 70vw;
  margin-left: 1rem;
  
}

.progress-bar {
  height: 10px;
  width: 100%;
  background-color: var(--bg-color4);
}
.bar-25 {
  height: 10px;
  width: 25%;
  background-color: var(--bg-color5);
}
.bar-50 {
  height: 10px;
  width: 100px;
  background-color: var(--bg-color5);
}
.bar-75 {
  height: 10px;
  width: 75%;
  background-color: var(--bg-color5);
}
.bar-100 {
  height: 10px;
  width: 200px;
  background-color: var(--bg-color5);
}

#S-Work-experience{
width: 100vw;
min-height:100vh;
color: var(--tx-color3);
background-color: var(--bg-color3);
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 1rem;
}
.container-gallery{
  width: 80vw;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.card-gallery{
  height: 30vw;
  width: 30vw;
  filter: grayscale(1);
  transition: all 0.5s ease-in;
}

.card-gallery img{
  position: relative;
  height: 30vw;
  width: 30vw;
  object-fit: cover;
  transition: all 0.5s ease-in;
}
.datos-project{
  position: absolute;
  top:70%;
  width: 100%;
  background-color: var(--bg-color6);
  transition: opacity 0.5s ease-in;
  /* visibility: hidden; */
  opacity: 0%;
}
.project-title{
  font-size: 0.8rem;
}
.project-ano{
  font-size: 0.5rem;
  color: var(--tx-color);
}
.card-gallery:hover{
transform: scale(1.3);
filter: grayscale(0);
z-index: 1000;
}
.card-gallery:hover .datos-project{
  opacity: 100%;
}

/* ---------------------------------- */
/* VER LA OPCIÓN DE AGREGAR BOTON MAS */
.Button-more {
  all: initial;
  color: #f74464;
  font-size: 1.2rem;
}
.Button-more:hover {
  color: #f797a8;
  cursor: pointer;
}
/* ---------------------------------- */


#S-portfolio{
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--tx-color3);
}


.portf-card {
  position: relative;
  width: 300px;
  height: 350px;
}

.portf-card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.portf-card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.portf-card .front img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portf-card .front h3 {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  line-height: 45px;
  background-color: #1f273857;
  text-align: center;
}

.portf-card .back {
  transform: perspective(600px) rotateY(180deg);
  box-shadow: 0 5px 10px #000;
  background-color: #1f2738;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.portf-card .back .link-repo {
  border-top: solid 1px #f74464;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
}

.portf-card .back a {
  color: #f74464;
}

.portf-card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.portf-card .back p {
  letter-spacing: 2px;
}

.portf-card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.portf-card:hover .back {
  transform: perspective(600px) rotateY(0deg);
}

.container-portf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.footer-principal {
  color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-final {
  background-color: #00000008;
  padding-top: 1rem;
  color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ft-bastian {
  width: 30rem;
  padding: 2rem;
}

.ft-bastian p {
  text-align: justify;
  font-style: italic;
}

.ft-link {
  all: initial;
  text-align: justify;
  font-style: normal;
  color: #f3f3f3;
  font-family: "Source Code Pro", monospace;
}

.ft-redes {
  width: 20rem;
  padding: 2rem;
  text-align: justify;
  font-style: normal;
}

.ft-redes ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ft-WS:hover {
  color: darkgreen;
}

.ft-ld:hover {
  color: #0e76a8;
}

.ft-tw:hover {
  color: #00acee;
}

.ft-gh:hover {
  color: #171515;
}

.ft-contact {
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5px;
}

.ft-contact input {
  padding: 1rem;
  height: 2rem;
  background-color: transparent;
  color: #f3f3f3;
  border: #f3f3f3 solid 0.5px;
}

.ft-contact button {
  background-color: #1f2738;
  color: #f3f3f3;
}

.ft-contact button:hover {
  background-color: #f74464;
  color: #f3f3f3;
}

@media (min-width: 576px) {
  .only-mobile {
    display: none;
  }

  .no-mobile {
    display: inherit;
  }

  header {
    background-color: var(--bg-color);
    height: 100vh;
    width: 20vw;
    top: 0vh;
    left: 0;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    z-index: 1000;
  }

  .perfil {
    margin-top: 2rem;
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .redes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .redes a i {
    font-size: 1.2rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
    height: 35vh;
  }

  .navlink a {
    color: var(--tx-color2);
  }
  .navlink i {
    color: var(--tx-color);
  }
  .navlink a:hover {
    color: var(--tx-color);
  }
  .navlink a i:hover {
    color: var(--tx-color);
  }
  .footheder {
    margin-left: 1rem;
    color: var(--tx-color2);
  }
  .footheder span {
    color: var(--tx-color);
  }
  #S-home {
    margin-top: 0vh;
    height: 100vh;
    width: 80vw;
    margin-left: 20vw;
  }

  .saludo {
    font-size: 2rem;
  }

  .nombre {
    font-size: 4rem;
  }

  .titulo {
    font-size: 2rem;
  }

#S-About-me {
  margin-left: 20vw;
  height: 100vh;
  width: 80vw;
}
.card-t-section{
  width: 75vw;
}
.titulo-section{
  height: 8vh;
}
.titulo-section p {
  width: 80vw;
  
}
.resena{
  width: 75vw;
}
.datos-personales{
  width: 50vw;
  display: grid;
  grid-template-areas:
  'imagen titulo'
  'imagen datos';
}
.datos-personales .img-perfil{
grid-area:imagen;
height: 10rem;
width: 10rem;
border-radius:10px ;
}
.titulo-datos{
  grid-area:titulo;
  font-size: 1.5rem;
  color:var(--tx-color)
}
.datos{
grid-area:datos;
}
#S-Skills{
  margin-left: 20vw;
  width: 80vw;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--tx-color3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'education skills';
  align-items: center;
}
.educaction-Container {
  width: 35vw;
  height: 60vh;
}
.skills-container{
  width: 35vw;
  height: 60vh;
}
.skill-item{
  width: 35vw;
}
#S-Work-experience{
  margin-left: 20vw;
  width: 80vw;
  min-height: 100vh;
}
.container-gallery{
height: 50vh;
width: 70vw;
}

.card-gallery{
  height: 30vh;
  width: 30vh;
  filter: grayscale(1);
  transition: all 0.5s ease-in;
}

.card-gallery img{
  height: 30vh;
  width: 30vh;
}
}